
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
